---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// main color
$brand-primary: #9C213C;
$brand-secondary: #133729;

//replace bootstrap default variables
$body-bg: #f5f5f5;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$link-color: #1976d2;
$link-hover-color: lighten($link-color, 30%);

$font-family-base: Roboto, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.8;

$font-size-h1: $font-size-base*2;
$font-size-h2: $font-size-base*1.5;
$font-size-h3: $font-size-base*1.2;
$font-size-h4: $font-size-base;

$carousel-control-width: 10%;
$carousel-control-opacity: 0.3;
$carousel-control-font-size: 36px;

@import "bootstrap";

// mixin




.hr-topbar { display: block; height: 2em; background: $brand-primary; }
.hr-primary { display: block; padding: 1em 0; width: 100%; height: 1px; border-bottom: 1px solid $brand-primary; }
.hr_big_red { height: 10px; background: $brand-primary; }
.hr-small { display: block; padding: 1em 0; width: 250px; height: 1px; border-bottom: 1px solid $brand-primary; }


header { 
	background: $brand-primary; 
	color: #fff;
	position: relative;
    .hblock { 
        position: absolute;
        bottom: 0;
        width: 100%;
        .headline {
            background: transparentize($brand-secondary,0.5);
            padding: 1em 0;
            font-size: 2em;
            text-transform: uppercase;
        }
    }

}
.header_big {
    max-height: 35em;
    overflow: hidden;
	
}
.header_small {
	max-height: 20em;
    overflow: hidden;

}

.dv_slideshow_caption {
    font-family: "Noticia Text", serif;
    font-size: 2.4em;
    font-style: italic;
    line-height: 1.2em;
    -webkit-transition-delay: 3s; /* Safari */
    transition-delay: 3s;
    @media (max-width: $screen-md-max) {
        font-size: 2em;
    }
    @media (max-width: $screen-sm-max) {
        font-size: 1.8em;
    }

}
.carousel-caption {
    bottom: 250px;
}
.carousel-control {
    padding-top: 15%;
}

// navigation 
.navbar { border: none; text-transform: uppercase; }
.navbar-inner {
    background: $brand-secondary;
}

.navbar-inner .nav {
	float: none;
	li { display:inline-block; }
    li a { color: #fff; padding: 1em 1.5em; }
}

.nav > li > a:hover {
    background: lighten($brand-secondary,20%);
}
.nav .open > a { background: $brand-primary !important; }

.dropdown-menu { background: $brand-primary; }
ul.dropdown-menu li { display: block; width:100%; }
ul.dropdown-menu li a:hover { background: lighten($brand-primary,15%); }






//sidebar
.sidebar_title {
    color: $brand-primary;
    padding: 1em 0;
    text-transform: uppercase;
}
.sidebar_item {
    margin-bottom: 2em;
    li { margin-bottom: 0.5em; }
    a {
        display: block;
        padding: 0.5em;
        background: #eee;
        color: $brand-primary;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            background: $brand-primary;
            color: #fff;
        }
    }
}


// sections

.section_title {
	color: $brand-primary;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-bottom: 1em;
}

.section_intro {
	padding: 2em 0 5em;
    .intro_item_title { margin: 0; padding: 1em 0; color: #fff; background: $brand-primary; }
    .intro_item_desc { padding: 2em 0; }
}

.section_video {
	background: lighten($brand-secondary,70%);
	.dv_video {
		background: $brand-secondary;
		color: lighten($brand-secondary, 20%);
		padding: 15em 0;
	}
}

.section_customer {
	padding: 5em 0;
	background: #ddd;
}
.client_comment {
    font-family: "Noticia Text", serif;
    font-style: italic;
    font-size: 1.6em;
    color: $brand-secondary;
}

.introtext { padding-top: 3em; }
.section_news {
	padding: 2em 0 5em;
	.news_title {
		font-weight: bold;
		line-height: 1.4em;
	}
}

.section_btm {
	background: $brand-secondary;
	color: #fff;
	padding: 5em 0;
	.btm_title {
		padding-bottom: 0.5em;
		border-bottom: 1px solid #fff;
	}
}
footer { 
	background: $brand-primary; 
	color: #fff;
	padding-top: 2em;
	padding-bottom: 3em;
}

// trang ngan quy

.nq_title {
	margin: 0;
	margin-top: 3em;
    padding: 0.5em 0;
	text-transform: uppercase;
}
.nq_info {
	background: #eee;
	padding: 1em 0;
}
.nq_images {
	margin-bottom: 1.5em;
}
.nq_link {
    padding-top: 2em;
    li { margin-bottom: 0.5em; }
    a {
        display: block;
        padding: 0.5em;
        background: $brand-secondary;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            background: $brand-primary;
        }
    }
}
.section_profit {
    background: #ddd;
    padding: 3em 0;
    margin: 5em 0;
}
    


// trang in an
.section_flexo {
    margin-top: 3em;
    padding: 3em 0;
    background: #eee;
}
.in_flexo_bigimage {
    margin-bottom: 2em;
}
.in_flexo_smallimage {
    margin-bottom: 1.5em;
}


// trang quang cao
.adv_title {
    margin-top: 3em;
}


// trang lien he

.dv_contact {
    padding-bottom: 5em;
}

.ct_title {
	margin: 0;
	margin-top: 3em;
    padding: 1em 0;
	text-transform: uppercase;
    background: lighten($brand-secondary,70%);
}
