<header class="header header_small">

{% if page.slideshow %}
	{% for item in page.slideshow %}
	<div>slide: {{ item.url }}</div>
	{% endfor %}
{% elsif page.cover %}
    <img class="img-responsive" src="{{ page.cover }}" alt="cover image">
{% else %}
	<img class="img-responsive" src="{{ site.cover }}" alt="cover image">
{% endif %}

<div class="hblock">
   <div class="container">
    <div class="headline text-center">{{ page.headline }}</div>
    </div>
</div>
</header>
{% include site_nav.html %}