<h2 class="text-uppercase">Danh sách khách hàng truyỀn thỐng nhà in ngân hàng i</h2>

<ol>
    <li>NH Nhà nước (SBV): In séc, Catalogue nhận biết tiền thật, giả..</li>
    <li>NH Nông nghiệp & PTNT Việt Nam ( AGRIBANK) một số chi nhánh các tỉnh phía Bắc ( 160 chi nhánh và PGD): In séc, Sổ TK, Thư bảo lãnh, giấy nộp tiền, ủy nhiệm chi, giấy ATM, Tạp chí TT,số ấn chỉ, tờ rời ...v...v...</li>
    <li>NH TMCP Ngoại thương Việt Nam (VCB) : In séc, Thẻ tiết kiệm, Thư bảo lãnh</li>
    <li>NH TMCP ĐT & PT Việt Nam (BIDV) : In séc</li>
    <li>NH TMCP Hàng Hải (MARITIME BANK , MSB): In séc</li>
    <li>NH TMCP Sài Gòn – Hà Nội (SCB):In séc</li>
    <li>NH TMCP Bưu điện Liên Việt (LienVietPostBank): In séc, Sổ tiết kiệm, Thư bảo lãnh</li>
    <li>Nam): In séc</li>
    <li>NH VID PUBLIC BANK: In séc, Sổ tiết kiệm</li>
    <li>NH Bảo Việt (BVB) : In séc, Sổ tiết kiệm, Thư bảo lãnh</li>
    <li>NH Đại Dương ( OCEAN BANK): In séc, Sổ tiết kiệm</li>
    <li>NH Bắc Á (NASB): In séc, sổ tiết kiệm, Thư bảo lãnh</li>
    <li>NH Dầu khí Toàn cầu (  GP  BANK): In séc, Sổ tiết kiệm</li>
    <li>NH TMCP Quân Đội (MILITARY BANK , MB): In séc, Sổ tiết kiệm</li>
    <li>NH TMCP Đông Nam Á (SeABank): In séc</li>
    <li>NH Liên doanh Việt  Nga: In séc, Sổ tiết kiệm</li>
    <li>CT CP Thiết bị Vật tư Ngân hàng: In séc cho các Ngân hàng</li>
    <li>Hội đồng XSKT miền Bắc: In Xổ số Kiến thiết miền Bắc</li>
    <li>CT TNHH MTV XSKT Thủ Đô : In Xổ số Lô tô, Hóa đơn GTGT</li>
    <li>CT TNHH MTV XSKT Hưng Yên: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Ninh Bình: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Bắc Giang: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Thái Bình: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Vĩnh Phúc: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Hải Dương: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Tuyên Quang: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Nam Định: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Lạng Sơn: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Bắc Ninh: In Xổ số Lô tô</li>
    <li>CT TNHH MTV XSKT Thanh Hóa: In Xổ số Lô tô</li>
    <li>CT CP Nhựa Y tế: In nhãn bơm kim tiêm</li>
</ol>