<h2 class="text-uppercase">Danh sách khách hàng truyỀn thỐng nhà in ngân hàng ii</h2>

<ol>

<li>NH TMCP Á Châu ( ACB) : In séc, các loại thẻ tiết kiệm, các loại ấn chỉ thông thường như: ủy nhiệm chi, giấy nộp tiền…</li>

<li>NH TMCP Sài Gòn Thương Tín( Sacombank): In séc, các loại thẻ tiết kiệm, các loại ấn chỉ thông thường như: ủy nhiệm chi, giấy nộp tiền…</li>

<li>NH TMCP Xây Dựng Việt Nam (CB): In séc, các loại thẻ tiết kiệm, các loại ấn chỉ thông thường như: ủy nhiệm chi, giấy nộp tiền…giấy nộp tiền…</li>

<li>NH TMCP Kỹ Thương Việt Nam( Techcombank): In séc</li>

<li>NH TMCP Phát Triển nhà TP.HCM( HD Bank): In séc, các loại thẻ tiết kiệm, các loại ấn chỉ thông thường như: ủy nhiệm chi, giấy nộp tiền…</li>

<li>Các CN Agribank như: Văn phòng đại diện miền nam và miền tây, CN TP.HCM, CN Nhà Bè, CN Nam Sài Gòn, CN Long An, CN Cần Thơ, CN Vĩnh Long, CN Bà Rịa Vũng Tàu: In lịch block, lịch để bàn, thiệp xuân, bao lì xì, các loại sản phẩm như: bao nylon thân thiện môi trường, túi vải không dệt, bảng tên, huy hiệu, phong bì thư, túi tài sản đảm bảo…</li>

<li>Các công ty thuộc Tập đoàn Điện Quang như: Cty Cổ Phần Bóng Đèn Điện Quang, Cty Cổ Phần Đầu Tư và Thương Mại Điện Quang, Cty Cổ Phần Phân Phối Điện Quang…: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty TNHH Thương Mại Thái Sơn Nam: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty Cổ Phần Thiết Bị Y Tế Nam Trung: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty TNHH Sản Xuất Thương Mại Thép Tuấn Võ: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty TNHH Dịch Vụ Thương Mại Khách Sạn Âu Lạc: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty TNHH MTV Nhà Hàng Trên Sông: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty TNHH Nhãn Mác Yong Mei: In hóa đơn GTGT, phiếu xuất kho…</li>

<li>Cty TNHH Sản Xuất Thương Mại Tuấn Hoa Việt: In các loại hộp, túi xách, giấy gói…</li>

<li>DNTN Hòa Bình : In bìa tập các loại… </li>
</ol>