<ol>
<li>CN Tràng An</li>
<li>PGD số 2 
<li>PGD Số 3 ( Láng Thượng )
<li>PGD số 8 	
<li>PGD Hàng Lược
<li>PGD  Nhân chính
<li>PGD Số 9
<li>PGD Số 1
<li>PGD Số 11	
<li>CN Tây Hà Nội 
<li>CN Thủ Đô	
<li>PGD Số 9 	
<li>PGD Hai Bà Trưng</li>
<li>PGD Hàn Thuyên</li>
<li>PGD Bùi Thị Xuân</li>
<li>CN Nam Hà Nội</li>
<li>PGD số 3 - Điểm GD - HVNH </li>
<li>PGD số 3 </li>
<li>PGD Khâm Thiên  </li>
<li>PGD Giảng võ	</li>
<li>PGD Giảng Võ - ĐGD 172 N.K </li>
<li>PGD số 1 </li>
<li>PGD số 6</li>
<li>PGD Số 9</li>
<li>PGD Nam Đô - T.Kính</li>
<li>CN Hà Nội</li>
<li>PGD Tràng Tiền	</li>
<li>PGD Ba Đình</li>
<li>GD Quan Thánh</li>
<li>PGD Nghĩa Đô	</li>
<li>PGD Ngọc Hà 	</li>
<li>PGD Quang Trung </li>
<li>PGD Linh Lang 	</li>
<li>PGD Giảng võ</li>
<li>PGD Khương Trung</li>
<li>PGD Tân Mai 	</li>
<li>PGD Minh Khai	</li>
<li>PGD Bạch Đằng 	</li>
<li>CN Đống Đa</li>
<li>PGD Xã Đàn</li>
<li>PGD Số 23     </li>
<li>PGD Số 46</li>
<li>PGD Số 24</li>
<li>PGD Số 25</li>
<li>PGD Số 32</li>
<li>PGD Số 33</li>
<li>PGD Số 34</li>
<li>CN Thanh Xuân - Đống Đa</li>
<li>CN Đông Hà Nội </li>
<li>PGD Số 1 	</li>
<li>PGD Nguyễn Công trứ</li>
<li>GD Bà Triệu          </li>    	
<li>PGD Lý Thường Kiệt</li>
<li>CN Bắc Hà nội</li>
<li>PGD Số 3</li>
<li>PGD số 2</li>
<li>PGD số 4</li>
<li>PGD Số 6</li>
<li>PGD Số 7</li>
<li>CN Hoàng Q. Việt</li>
<li>PGD Số 1</li>
<li>PGD Số 2</li>
<li>PGD Số 3</li>
<li>PGD Số 8</li>
<li>PGD Nguyễn Phong Sắc</li>
<li>CN Thăng Long</li>
<li>PGD Tây sơn</li>
<li>PGD Nguyễn Khuyến</li>
<li>PGD Số 5</li>
<li>PGD Số 3</li>
<li>PGD Số 6</li>
<li>PGD Định Công</li>
<li>PGD số 7	
<li>PGD Số 9</li>
<li>CN Trung yên</li>
<li>CN Hoàng Mai</li>
<li>PGD Nguyễn Trãi</li>
<li>PGD Số 2</li>
<li>PGD Giáp bát</li>
<li>PGD Số 4	</li>
<li>PGD Số 6</li>
<li>CN Láng Hạ</li>
<li>CN Bách Khoa </li>
<li>CN Tây Đô</li>
<li>PGD Số 1</li>
<li>PGD Số 2</li>
<li>PGD Số 5 </li>
<li>CN Mỹ Đình</li>
<li>PGD Số 1</li>
<li>PGD Số 2</li>
<li>PGD Số 3	
<li>PGD Số 4</li>
<li>PGD Số 5</li>
<li>CN Hà Thành</li>
<li>PGD Chợ Mơ</li>
<li>PGD Kim Đồng</li>
<li>PGD Trương Định</li>
<li>PGD Lờ Đại Hành</li>
<li>PGD Kim Liên</li>
<li>CN Hoàn Kiếm</li>
<li>CN Cầu giấy</li>
<li>PGD Số 4     </li>              	
<li>PGD Số 7</li>
<li>PGD Số 10</li>
<li>PGD Số 9</li>
<li>PGD Số 3 </li>
<li>CN Tam Trinh</li>
<li>PGD Hoàng Văn Thụ </li>
<li>PGD Tân Mai </li>
<li>PGD Số 6</li>
<li>CN Thanh Trì</li>	
<li>PGD Nam Linh Đàm</li>
<li>PGD Linh Đàm</li>
<li>PGD Pháp Vân</li>
<li>CN Hùng Vương 	</li>
<li>CN Hà Tây</li>
<li>CN Từ Liêm</li>
<li>PGD Mễ Trì</li>
<li>PGD Quan Hoa    </li>      	
<li>PGD Mỹ Đình    </li>           	
<li>PGD Cổ Nhuế</li>
<li>PGD Xuân Đỉnh</li>
<li>CN Tây Hồ</li>
<li>PGD Số 5</li>
<li>PGD Số 21</li>
<li>PGD Số 22</li>
<li>PGD Châu Long </li> 
<li>PGD Phú Thượng	</li>
<li>PGD Yên Phụ 	</li>
<li>PGD Số 21 - ĐGD Giang Văn Minh</li>
<li>CN Hồng Hà - Tây Hồ</li>
<li>CN Mê Linh</li>
<li>PGD số 1</li>
<li>CN Long biên</li>
<li>PGD Lương Yên</li>
<li>PGD Nguyễn Sơn </li>
<li>PGD Chương Dương</li>
<li>PGD Bắc Long Biên</li>
</ol>