<section class="section section_customer">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                <h3 class="section_title">nhận xét của khách hàng</h3>

                <div class="cmm_slider">
                   {% for item in site.data.ykien %}
                   <div class="cmm_slider_item">
                    <p class="client_comment">{{ item.comm }}</p>

                    <p class="client_name"><strong>{{ item.name }}</strong> - {{ item.title }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>