<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<p class="introtext text-primary">Công ty TNHH một thành viên Dịch vụ Ngân hàng Nông nghiệp Việt Nam (gọi tắt là công ty Dịch vụ Agribank) là doanh nghiệp trực thuộc Ngân hàng Nông nghiệp và Phát triển Nông thôn Việt Nam được thành lập trên cơ sở sáp nhập 3 đơn vị: Nhà in Ngân hàng I, Nhà in Ngân hàng II, Công ty Đầu tư Thương mại và Dịch vụ Ngân hàng. Mục tiêu hoạt động của công ty là trở thành doanh nghiệp hàng đầu cung cấp các dịch vụ phục vụ hoạt động của hệ thống tài chính ngân hàng.</p>
		</div>
	</div>
	<div class="hr-primary"></div>
</div>