<section class="section section_tet">
<div class="container">
<div class="row">
	<div class="col-xs-12 text-center">
		<img class="img-responsive" src="{{ site.baseurl }}/imgs/tet/tet1.jpg" alt="lich tet" />
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <p style="padding-top: 2em;">
        Công ty kính gửi thông báo thông tin In lịch Agribank xuân 2016, bao gồm 2 loại: <strong>lịch block</strong> và <strong>lịch để bàn</strong>.<br>Rất mong được Quý Ngân hàng trong và ngoài hệ thống Agribank ủng hộ.<br>Trân trọng cảm ơn quý vị đã quan tâm.
      </p>
      <a class="btn btn-primary" href="{{ site.baseurl }}/intro/dich_vu_in/lich_tet_2016/">xem chi tiết và đặt in</a>
    </div>
	</div>
</div>
</div>
<div class="hr-primary"></div>
</section>
