<h2 class="text-primary">Trụ sở chính công ty</h2>
<p>Số 10 Chùa Bộc, phường Quang Trung, quận Đống Đa, Hà Nội.</p>
<p>Tel: 04.35729457  Fax: 04.35736640</p>

<hr>

<h2 class="text-primary">Các chi nhánh tại miền Bắc</h2>

<h3>NHÀ IN NGÂN HÀNG 1</h3>
<p>Số 10 Chùa Bộc, phường Quang Trung, quận Đống Đa, Hà Nội.</p>
<p>Tel: 04.3852 2125  Fax: 04.38521891</p>

<h3>TRUNG TÂM DỊCH VỤ NGÂN QUỸ</h3>
<p>Số 10 Chùa Bộc, phường Quang Trung, quận Đống Đa, Hà Nội.</p>
<p>Tel: 04.35736643  Fax: 04.35736665</p>

<h2 class="text-primary">Các chi nhánh tại miền Nam</h2>

<h3>NHÀ IN NGÂN HÀNG 2</h3>
<p>Số 422, Trần Hưng Đạo, phường 2, quận 5, TP Hồ Chí Minh.</p>
<p>Tel: 08.38382781  Fax: 08.38362371</p>

<h3>TRUNG TÂM DỊCH VỤ NGÂN QUỸ MIỀN NAM</h3>
<p>Số 422, Trần Hưng Đạo, phường 2, quận 5, TP Hồ Chí Minh.</p>
<p>Tel: 08.39245349  Fax: 08.39239892</p>