<p>
  Công ty Dịch vụ Agribank cảm ơn Quý cơ quan đã quan tâm tin dùng sản phẩm In của đơn vị chúng tôi trong thời gian qua. Công ty kính gửi thông báo thông tin In lịch Agribank xuân 2016:
</p>

<h3 class="text-primary">Sản phẩm: Lịch block Agribank xuân 2016</h3>

<p>
  Chi tiết sản phẩm : Bộ lịch gồm block cực đại, bìa lót lưng và túi đựng lịch. Nội dung in theo maket đã được Agribank phê duyệt đấu thầu mẫu thiết kế.
</p>
<p>
  Block cực đại: kích thước 20cm x 32,5cm in offset 4 màu CMYK/01 mặt trên giấy couche matt định lượng 60g/m2, 365 tờ bắt lồng đóng block bắt vít liên kết bìa treo. Nhận diện thương hiệu trên tờ bìa lót lưng và trên từng trang block. Bìa lót lưng kích thước 20cm x 47,5cm, chất liệu bìa là gỗ ván ép MDF 3ly nhập ngoại, giấy bồi in 4 màu có cán láng trên giấy couche 150g/m2, bồi hai mặt, bo lượn 2 góc trên, đột lỗ luồn dây treo. Túi đựng lịch in 4 màu hai mặt túi trên giấy duplex cán láng, đột lỗ luồn quai xách kích thước 25cm x 50cm (túi bế hộp) in theo maket của Agribank.

</p>

<h3 class="text-primary">Sản phẩm: Lịch để bàn Agribank xuân 2016 (chữ A)</h3>
<p>
  Chi tiết sản phẩm : Kích thước 18cm x 18cm, in 4 màu trên giấy couche 250g/m2 gồm13 tờ tháng ( 01 tờ mặt + 12 tờ tháng) đế in bồi trên catton lạnh. Đột lỗ luồn lò xo theo maket của Agribank. Hộp đựng lịch in 4 màu bế hộp trên giấy duplex 350g/m2.
</p>

<p>
  Công ty rất mong được Quý Ngân hàng trong và ngoài hệ thống Agribank đặt In sản phẩm tại Công ty chúng tôi, ủng hộ dùng sản phẩm dịch vụ In trong ngành tạo điều kiện cho đơn vị phát triển. Chúng tôi lấy tiêu chí: “ Đồng hành cùng hệ thống tài chính Ngân hàng ” với chất lượng cao, chi phí hợp lý, hiệu quả. Chúng tôi cam kết thường xuyên duy trì nâng cao chất lượng dịch vụ để giữ vững uy tín đồng thời khẳng định sự đúng đắn khi Quý khách hàng lựa chọn dịch vụ của chúng tôi.
</p>

<p>
  Do thời gian phát hành lịch gấp nên các Chi nhánh Agribank có nhu cầu đặt in liên hệ  với Công ty trước ngày 28/11/2015.
</p>
<p>
  Xin trân trọng cảm ơn!
</p>

<img class="img-responsive" src="{{ site.baseurl }}/imgs/tet/tet1.jpg" alt="lich tet" />

<h3 class="text-primary">Liên hệ</h3>

<h4 style="font-weight: bold">Nhà in 1 (phía Bắc): Phòng Kế Hoạch Kinh doanh</h4>
<p>
  Đ/c: Số 10 đường Chùa Bộc - Phường Quang Trung - Quận Đống Đa – T.P Hà Nội<br>ĐT: 0913510858, 04.38525586; Fax: 04.38521891, Mail: khkdin1@gmail.com
</p>

<h4 style="font-weight: bold">Nhà in 2 (phía Nam): Phòng Kế Hoạch Kinh doanh</h4>
<p>
  Đ/c: Số 422 Trần Hưng Đạo, Q5, T.p Hồ Chí Minh<br>ĐT:  08 3838 2783 - Fax: 08 3923 4415, Mail: nhainnganhang22014@gmail.com
</p>
