<h2 class="text-primary">Trụ sở chính công ty</h2>
<p>Số 10 Chùa Bộc, phường Quang Trung, quận Đống Đa, Hà Nội.</p>
<p>Tel: 04.35729457  Fax: 04.35736640</p>

<hr>

<h2 class="text-primary">Các chi nhánh tại miền Bắc</h2>

<h3>NHÀ IN NGÂN HÀNG 1</h3>
<p>Số 10 Chùa Bộc, phường Quang Trung, quận Đống Đa, Hà Nội.</p>
<p>Điện thoại Phòng Hành chính: 04 3852 2125</p>
<p>Điện thoại Phòng Kinh doanh: 04 3852 5586</p>
<p>Fax: 043 852 1861 - Email: khkdin1@gmai.com</p>

<h3>TRUNG TÂM DỊCH VỤ NGÂN QUỸ</h3>
<p>Số 10 Chùa Bộc, phường Quang Trung, quận Đống Đa, Hà Nội.</p>
<p>Điện thoại phòng Hành chính: 04 3573 6663</p>
<p>Điện thoại Phòng Kinh doanh: 04 3573 8137 / 3573 5087</p>
<p>Fax: 04.35736665 - Email: ttdvnq@gmail.com</p>

<h2 class="text-primary">Các chi nhánh tại miền Nam</h2>

<h3>NHÀ IN NGÂN HÀNG 2</h3>
<p>Số 422, Trần Hưng Đạo, phường 2, quận 5, TP Hồ Chí Minh.</p>
<p>Điện thoại Phòng Hành chính: 08 3838 2781</p>
<p>Điện thoại Phòng Kinh doanh: 08 3838 2783</p>
<p>Fax: 08 3923 4415 - Email: nhainnganhang22014@gmail.com, chebaninh2@yahoo.com.vn</p>


<h3>TRUNG TÂM DỊCH VỤ NGÂN QUỸ MIỀN NAM</h3>
<p>Số 422, Trần Hưng Đạo, phường 2, quận 5, TP Hồ Chí Minh.</p>
<p>Phòng Hành chính: 08 3924 5349</p>
<p>Phòng Kinh doanh: 08 3923 9895</p>
<p>Fax: 08 3923 9892 - Email: ttdvnq@gmail.com</p>