---
layout: page_small_header
news_group: true
group_name: "hoạt động nội bộ"
title: "hoạt động Đảng, Đoàn TN, Công đoàn..."

headline: "tin hoạt động nội bộ"
permalink: /news/hoat_dong_noi_bo/

---
<div class="container">
<div class="row">
	<div class="col-xs-12 col-md-9">
	{% assign posts = site.posts | where: "group", "hoạt động nội bộ" %}
	{% for post in posts %}
        <div class="row">
            <h3 class="col-xs-12"><strong>{{ post.title }}</strong></h3>
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src="{{ post.preview }}">
            </div>
            <div class="col-xs-12 col-sm-6 text-justify">
                <p>{{ post.summary }}.<br><a href="{{ post.url }}">xem chi tiết...</a></p>
            </div>
        </div>
        <hr>
	{% endfor %}		
	</div>

	<div class="col-xs-12 col-md-3">
		{% include dv_sidebar.html %}
	</div>
</div>