---
layout: default
title: "dịch vụ in ấn"
headline: "dịch vụ in ấn"
desc: "Công ty có 2 nhà máy in phục vụ tại Hà Nội và TP. Hồ Chí Minh với bề dày truyền thống gần 70 năm. Dây chuyền máy móc hiện đại..."
pos: intro
sort: 102
preview: http://placehold.it/800x600
permalink: /intro/dich_vu_in'/

slideshow:
- url: hình ảnh dịch vụ in ấn 1
- url: hình ảnh dịch vụ in ấn 2
- url: hình ảnh dịch vụ in ấn 3
---

Nội dung trang {{ page.headline }}
<hr>
{% include dv_header_small.html %}
<hr>
Đoạn giới thiệu ngắn
<hr>
Hình ảnh 2 nhà in, chia thành 2 cột. Submenu: thư ngỏ, khách hàng truyền thống
<hr>
Hệ thống in flexo: 1 ảnh to + 4 ảnh nhỏ
<hr>
Sản phẩm đặc biệt (sec, cổ phiếu, sổ tiết kiệm, hoá đơn, chứng chỉ trong và ngoài hệ thóng), 12 ảnh
<hr>
Tạp chí, sách báo, catalogue..., 8 ảnh
<hr>
Lịch và các sản phẩm khác, 8 ảnh
<hr>
Giám sát kỹ thuật và otk sau in, 8 ảnh
<hr>
{% include modul_intro.html %}
{% include modul_customer.html %}
{% include modul_bottom.html %}
{% include site_footer.html %}