---
layout: default
title: "dịch vụ ngân quỹ"
headline: "dịch vụ ngân quỹ"
desc: "Đơn vị duy nhất cung cấp dịch vụ ngân quỹ một cách độc lập, đủ năng lực phục vụ nhu cầu của toàn bộ các chi nhánh trong hệ thống..."
pos: intro
sort: 101
preview: /imgs/intro/nganquy.jpg
permalink: /intro/dich_vu_ngan_quy/

slideshow:
- url: /imgs/slideshow/nq1.jpg
  name: "slide 2"
  title: "An Toàn - Chính xác - Kịp thời"
- url: /imgs/slideshow/nq2.jpg
  name: "slide 3"
  title: "An toàn - Chính xác - Kịp thời"
- url: /imgs/slideshow/nq3.jpg
  name: "slide 4"
  title: "An toàn - Chính xác - Kịp thời"

---

<div class="container">
	<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="introtext text-primary text-center">{% include text_nq.html %}</div>
	</div>
	</div>

	<div class="hr-small center-block"></div>
</div>

<section class="section section_profit clearfix">
    <div class="col-xs-12 text-center nq_profit">
        <h4 class="section_title">Các dịch vụ chính:</h4>
        <p class="client_comment">Thu kiểm đếm, phân loại đóng bó theo tiêu chuẩn;<br>Điều chuyển, đáp ứng quỹ đến các phòng giao dịch của chi nhánh, nộp và lĩnh tiền<br>tại Ngân hàng Nhà nước. Vận chuyển tiền, giấy tờ có giá và tài sản quý; Tiếp quỹ ATM.</p>
    </div>
</section>

<div class="container">
	<div class="row">
	{% for nq in site.data.nganquy %}
		<div class="col-xs-12 col-sm-6 text-center">
			<h3 class="nq_title bg-primary">{{ nq.title }}</h3>
			<img class="img-responsive" src="{{ nq.image }}">
			<div class="nq_info">
				<p>Địa chỉ:<br>{{ nq.address }}</p>
				<p>Điện thoại: {{ nq.phone }}</p>
				<p>Fax: {{ nq.fax }}</p>				
				<p>Email: {{ nq.email }}</p>				
			</div>
			<ul class="nq_link list-unstyled">
			{% if nq.links %}{% for link in nq.links %}
				<li><a href="{{ link.linkto }}">{{ link.name }}</a></li>
            {% endfor %}{% endif %}
			</ul>
			
		</div>
	{% endfor %}
	</div>
</div>

<section class="section section_profit clearfix">
    <div class="col-xs-12 text-center nq_profit">
        <h4 class="section_title">Lợi ích đối với khách hàng sử dụng dịch vụ</h4>
        <div class="cmm_slider">
        {% for cmm in site.data.nganquy_profit %}
        <p class="client_comment">{{ cmm.item }}</p>
        {% endfor %}
        </div>
    </div>
</section>


<div class="container">
	<div class="row text-center">
	{% for record in site.data.nganquy_data_img %}
		<h3 class="section_title"><i class="fa fa-asterisk"></i> {{ record.name }} <i class="fa fa-asterisk"></i></h3>
		{% if record.images %}{% for img in record.images %}
		<div class="col-xs-6 col-sm-3 nq_images">
			<a href="#" data-featherlight="{{ img.full }}"><img class="img-responsive" src="{{ img.preview }}" alt="{{ img.caption }}"></a>
		</div>
		{% endfor %}{% endif %}
		<p class="clearfix" style="color:#eee;"><i class="fa fa-chevron-down"></i></p>
	{% endfor %}
	</div>
</div>

<div class="hr-primary"></div>

{% include modul_intro.html %}
{% include modul_customer.html %}
{% include modul_bottom.html %}
