---
layout: default
title: "dịch vụ in ấn"
headline: "dịch vụ in ấn"
desc: "Công ty có 2 nhà máy in phục vụ tại Hà Nội và TP. Hồ Chí Minh với bề dày truyền thống gần 70 năm. Dây chuyền máy móc hiện đại..."
pos: intro
sort: 102
preview: /imgs/intro/in.jpg
permalink: /intro/dich_vu_in/

slideshow:
- url: /imgs/slideshow/in1.jpg
  name: "slide 1"
  title: "in offset"
- url: /imgs/slideshow/in2.jpg
  name: "slide 2"
  title: "in Flexo"
- url: /imgs/slideshow/in3.jpg
  name: "slide 3"
  title: "Thân thiện - Chuyên nghiệp - Hiệu quả"
- url: /imgs/slideshow/in4.jpg
  name: "slide 4"
  title: "Thân thiện - Chuyên nghiệp - Hiệu quả"

---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="introtext text-primary text-center">{% include text_in.html %}</div>
        </div>
    </div>
    
    <div class="hr-small center-block"></div>
</div>

<section class="section section_profit clearfix">
   <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center nq_profit">
        <h4 class="section_title">Các dịch vụ chính:</h4>
        <p class="client_comment">In séc, cổ phiếu, trái phiếu, sổ tiết kiệm, giấy biên lai, nhật ký  ATM, xổ số...<br>
      Nhãn mác, bao bì hàng hoá trên giấy, màng nhôm...<br>
      Các sản phẩm tờ rời phục vụ công tác nghiệp vụ của hệ thống ngân hàng.<br>
      Tạp chí, lịch, tờ gấp, poster...<br>
      Đặc biệt, với uy tín và kinh nghiệm của mình, Công ty được Ngân hàng Nhà nước giao in tiền cotton</p>
    </div>
    </div>
</section>

<div class="container">     
	<div class="row">
	{% for in in site.data.inan %}
		<div class="col-xs-12 col-sm-6 text-center">
			<h3 class="nq_title bg-primary">{{ in.title }}</h3>
			<img class="img-responsive" src="{{ in.image }}">
			<div class="nq_info">
				<p>Địa chỉ:<br>{{ in.address }}</p>
				<p>Điện thoại: {{ in.phone }}</p>
				<p>Fax: {{ in.fax }}</p>				
				<p>Email: {{ in.email }}</p>				
			</div>
			
			<ul class="nq_link list-unstyled">
			{% if in.links %}{% for link in in.links %}
				<li><a href="{{ link.linkto }}">{{ link.name }}</a></li>
			{% endfor %}{% endif %}
			</ul>
			
		</div>
	{% endfor %}
	</div>  
</div>

<section class="section section_flexo">
    <div class="container">
        <div class="row text-center">
            <h3 class="section_title">hệ thống in flexco</h3>
            <p>Duy nhất tại Hà Nội, công ty Dịch vụ Agribank đầu tư và vận hành hệ thống in Flexo từ năm 1900</p>
            <div class="col-xs-12 in_flexo_bigimage">
                <img class="img-responsive" src="/imgs/in/in_flexo.jpg" alt="he thong in flexo">
            </div>
            <hr>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="/imgs/in/fx1.jpg"></div>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="/imgs/in/fx2.jpg"></div>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="/imgs/in/fx3.jpg"></div>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="/imgs/in/fx4.jpg"></div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row text-center">
        {% for record in site.data.inan_data_img %}
        <h3 class="section_title"><i class="fa fa-asterisk"></i> {{ record.name }} <i class="fa fa-asterisk"></i></h3> 
        {% if record.images %}{% for img in record.images %}
        <div class="col-xs-6 col-sm-3 nq_images">
            <a href="#" data-featherlight="{{ img.full }}"><img class="img-responsive" src="{{ img.preview }}" alt="{{ img.caption }}"></a>
        </div>
        {% endfor %}{% endif %}
        <p class="clearfix" style="color:#eee;"><i class="fa fa-chevron-down"></i></p>
        {% endfor %}
    </div>
</div>

<section class="section section_profit clearfix">
    <div class="col-xs-12 text-center nq_profit">
        <h4 class="section_title">Các sản phẩm đặc biệt:</h4>
        <p class="client_comment">In ấn các sản phẩm đặc biệt có độ an toàn cao, bảo mật<br>
        Chống giả bằng giấy đặc biệt, màu phát quang, hoa văn vẽ đồ họa phức tạp<br>
        Dưới sự giám sát khắt khe và kiểm tra kỹ thuật chặt chẽ </p>
    </div>
</section>


<div class="hr_big_red"></div>

{% include modul_intro.html %}
{% include modul_customer.html %}
{% include modul_bottom.html %}