---
layout: default
title: "dịch vụ in ấn"
headline: "dịch vụ in ấn"
desc: "Công ty có 2 nhà máy in phục vụ tại Hà Nội và TP. Hồ Chí Minh với bề dày truyền thống gần 70 năm. Dây chuyền máy móc hiện đại..."
pos: intro
sort: 102
preview: http://placehold.it/800x600
permalink: /intro/dich_vu_in/

slideshow:
- url: hình ảnh dịch vụ in ấn 1
- url: hình ảnh dịch vụ in ấn 2
- url: hình ảnh dịch vụ in ấn 3
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <p class="introtext text-primary text-center">Mục tiêu hoạt động của công ty là trở thành doanh nghiệp hàng đầu cung cấp các dịch vụ phục vụ hoạt động của hệ thống tài chính ngân hàng.</p>
        </div>
    </div>
    
    <div class="hr-small center-block"></div>
    
	<div class="row">
	{% for in in site.data.inan %}
		<div class="col-xs-12 col-sm-6 text-center">
			<h3 class="nq_title bg-primary">{{ in.title }}</h3>
			<img class="img-responsive" src="{{ in.image }}">
			<div class="nq_info">
				<p>Địa chỉ:<br>{{ in.address }}</p>
				<p>Điện thoại: {{ in.phone }}</p>
				<p>Fax: {{ in.fax }}</p>				
				<p>Email: {{ in.email }}</p>				
			</div>
			
			<ul class="nq_link list-unstyled">
			{% if in.links %}{% for link in in.links %}
				<li><a href="{{ link.linkto }}">{{ link.name }}</a></li>
			{% endfor %}{% endif %}
			</ul>
			
		</div>
	{% endfor %}
	</div>  
</div>

<section class="section section_flexo">
    <div class="container">
        <div class="row text-center">
            <h3 class="section_title">hệ thống in flexco</h3>
            <p>Duy nhất tại Hà Nội, công ty Dịch vụ Agribank đầu tư và vận hành hệ thống in Flexo từ năm 1900</p>
            <div class="col-xs-12 in_flexo_bigimage">
                <img class="img-responsive" src="http://placehold.it/1200x400" alt="he thong in flexo">
            </div>
            <hr>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="http://placehold.it/500x350"></div>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="http://placehold.it/500x350"></div>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="http://placehold.it/500x350"></div>
            <div class="col-xs-6 col-sm-3 in_flexo_smallimage"><img class="img-responsive" src="http://placehold.it/500x350"></div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row text-center">
        {% for record in site.data.inan_data_img %}
        <h3 class="section_title">{{ record.name }}</h3> {% if record.images %}{% for img in record.images %}
        <div class="col-xs-6 col-sm-3 nq_images">
            <a href="{{ img.full }}"><img class="img-responsive" src="{{ img.preview }}" alt="{{ img.caption }}"></a>
        </div>
        {% endfor %}{% endif %}
        <p class="clearfix" style="color:#eee;"><i class="fa fa-chevron-down"></i></p>
        {% endfor %}
    </div>
</div>

<div class="hr_big_red"></div>

{% include modul_intro.html %}
{% include modul_customer.html %}
{% include modul_bottom.html %}