---
layout: default
title: "dịch vụ ngân quỹ"
headline: "dịch vụ ngân quỹ"
desc: "Đơn vị duy nhất cung cấp dịch vụ ngân quỹ một cách độc lập, đủ năng lực phục vụ nhu cầu của toàn bộ các chi nhánh trong hệ thống..."
pos: intro
sort: 101
preview: http://placehold.it/800x600
permalink: /intro/dich_vu_ngan_quy/

slideshow:
- url: hình ảnh dịch vụ ngân quỹ 1
- url: hình ảnh dịch vụ ngân quỹ 2
- url: hình ảnh dịch vụ ngân quỹ 3
---

Nội dung trang {{ page.headline }}

<hr>
Đoạn giới thiệu ngắn
<hr>
Hình ảnh 2 trung tâm ngân quỹ bắc & nam chia thành 2 cột.
<hr>
Lợi ích của k/h khi sử dụng dv: làm dạng slideshow giống như cách trình bày phần nhận xét của khách hàng
<hr>
Cơ sở vật chất, trang thiết bị: 8 ảnh
<hr>
Ban điều hành: 4 ảnh
<hr>
hoạt động tiếp quỹ: 12 ảnh
<hr>
hoạt động kiểm đếm: 12 ảnh
<hr>
tiếp quỹ ATM: 4 ảnh
<hr>
{% include modul_intro.html %}
{% include modul_customer.html %}
{% include modul_bottom.html %}
{% include site_footer.html %}