---
layout: default
title: "dịch vụ quảng cáo"
headline: "dịch vụ quảng cáo"
desc: "Bộ phận trực thuộc luôn bám sát mục tiêu và hiện thực hoá ý tưởng xây dựng của Agribank. Sản phẩm chất lượng với tính thẩm mỹ cao..."
pos: intro
sort: 103
preview: /imgs/intro/quangcao.jpg
permalink: /intro/dich_vu_quang_cao/

slideshow:
- url: hình ảnh dịch vụ quảng cáo 1
- url: hình ảnh dịch vụ quảng cáo 2
- url: hình ảnh dịch vụ quảng cáo 3
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <p class="introtext text-primary text-center">Bộ phận trực thuộc luôn bám sát mục tiêu và hiện thực hoá ý tưởng xây dựng thương hiệu của Agribank. Đáp ứng tốt nhất, nhanh nhất các yêu cầu của khách hàng bằng những sản phẩm mang tính thẩm mỹ cao, chất lượng hoàn hảo.</p>
        </div>
    </div>
    
    <div class="hr-small center-block"></div>
    
	
    <div class="row text-center">
        
        <div class="col-xs-12">
           <h3 class="nq_title bg-primary">dịch vụ quảng cáo</h3>
            <img class="img-responsive" src="http://placehold.it/1200x500" alt="dich vu quang cao">
            <div class="nq_info clearfix">
				<p>Địa chỉ:<br>Số 10 Chùa Bộc, Đống Đa, Hà Nội</p>
				<p>Điện thoại: phone</p>
				<p>Fax: fax</p>				
				<p>Email: email</p>				
			</div>
        </div>
        <p><i class="fa fa-chevron-down"></i></p>

        {% for record in site.data.quangcao_data_img %}
        <h3 class="section_title">{{ record.name }}</h3> {% if record.images %}{% for img in record.images %}
        <div class="col-xs-6 col-sm-3 nq_images">
            <a href="{{ img.full }}"><img class="img-responsive" src="{{ img.preview }}" alt="{{ img.caption }}"></a>
        </div>
        {% endfor %}{% endif %}
        <p class="clearfix" style="color:#eee;"><i class="fa fa-chevron-down"></i></p>
        {% endfor %}

    </div>
</div>

<div class="hr_big_red"></div>

{% include modul_intro.html %}
{% include modul_customer.html %}
{% include modul_bottom.html %}