---
layout: default
title: "lịch tết 2016"
permalink: /intro/dich_vu_in/lich_tet_2016/

slideshow:
- url: /imgs/slideshow/in1.jpg
  name: "slide 1"
  title: "in offset"
- url: /imgs/slideshow/in2.jpg
  name: "slide 2"
  title: "in Flexo"
- url: /imgs/slideshow/in3.jpg
  name: "slide 3"
  title: "Thân thiện - Chuyên nghiệp - Hiệu quả"
- url: /imgs/slideshow/in4.jpg
  name: "slide 4"
  title: "Thân thiện - Chuyên nghiệp - Hiệu quả"

---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>thư chào hàng in lịch Agribank xuân 2016</h1>
            <div class="text-justify">{% include text_lich.html %}</div>
        </div>
    </div>
</div>

<div class="hr_big_red"></div>

{% include modul_customer.html %}
{% include modul_bottom.html %}
