---
layout: page_small_header
bottom_nav: true
intro_side_nav: true
nav_title: "Mạng lưới hoạt động"
b: 34

headline: "mạng lưới hoạt động"
---

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <img class="img-responsive" src="/imgs/intro/vn.svg" alt="chi nhanh">
            <hr>
            {% include text_diachi.html %}
        </div>
        <div class="col-xs-12 col-sm-4">
            {% include dv_intro_sidebar.html %}
        </div>
        
    </div>
</div>

{% include modul_bottom.html %}